#container_scacchiera .col{
    flex: 1 0 calc(100% / 7 - 10px);
    max-width: calc(100% / 7 - 10px);
    margin: 5px;
   
}
.mybox{
    background-color: blue;
}
.fizz{
    background-color: yellow;
}
.buzz{
    background-color: red;
}
.fizzbuzz{
    background-color: seagreen;
}

