#container_scacchiera .col{
    flex: 1 0 calc(100% / 7);
   
    max-width: calc(100% / 7);
   
}
.mybox{
    background-color: blue;
}
.fizz{
    background-color: yellow;
}
.buzz{
    background-color: red;
}

.fizzbuzz{
    background-color: seagreen;
}